<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Barter APP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="public/styles/styles.css">

  <!-- Script Source Files -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
</head>

<body>
  <!-- cover trade image -->
  <div class="container">
    <img src="/images/trade.jpg" alt="trade graphic">
  </div>

  {{!-- ***need to come up with app name  --}}
  <!-- page title -->
  <div class="container" id="top-bar">
    <h1>Trader APP</h1>
  </div>

  {{{ body }}}

</body>

</html>

{{!-- <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  {{!-- <script src="../../public/js/index.js"></script> 
<title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html> --}}