{{!-- ***this handlebar's name has to be changed --}}
<!-- Navigation bar-->
<nav class="fullwidth">
    <div class="mainwidth logoback">
        <h2>Barter APP</h2>
    </div>
    <!-- Please comment in the names-->
    <ul class="navitems mainwidth">
        <li style="margin: 0 10px 0 10px"><a href="about.html">About</a></li>
        <li style="margin: 0 10px 0 10px">|</li>
        <li style="margin: 0 10px 0 10px"><a href="intro">Items Wanted</a></li>
        <li style="margin: 0 10px 0 10px">|</li>
        <li style="margin: 0 10px 0 10px"><a href="market">Market</a></li>
        <li style="margin: 0 10px 0 10px">|</li>
        <li style="margin: 0 10px 0 10px"><a href="contact.html">Contact</a></li>
        <li style="margin: 0 10px 0 10px">|</li>
    </ul>
</nav>