<!-- App Background Information -->
<!-- Overall Bootstrap Grid -->
    <div class="container">
      <!-- Jumbotron with Title -->
      <div class="jumbotron">
        <h1 class="text-center">
          <strong>Trader App</strong>
        </h1>
        <h2>About the app</h2>
        
        <p>Bartering is a tradition as old as time itself. In this modern 
        age, we have lost touch with this basic root of human civilization.
        Introducing Barter Bud. Barter Bud allows users to create a 
        profile where they can upload pictures of things or services
        they would like to trade and can interact and make offers with 
        other users for trading said items or services.</p>
    </div>