<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
          <p>
            {{!-- ***we are not using example database. needs to be changed --}}
            <strong>ID</strong>: {{example.id}}</p>
          <p>
        </div>
      </div>
    </div>
  </div>
</div>
