{{!-- <img src ="https://res.cloudinary.com/dcza05ust/image/upload/v1560392652/demo/hry4bddkpyoz9zgckheb.jpg"> --}}
<div class="form-group">
    <form id="fileForm" action='/api/images' method="post" enctype="multipart/form-data">
       {{!-- <div class="form-group">
        <label for="ca">Product name:</label>
        <input type="text" class = "info"id="product_name" name="product_name">
    </div>
    <div class="form-group">
        <label for="ca">Description:</label>
        <input type="text" class = "info"id="description" name="description">
    </div> --}}

    {{!-- </form>  --}}
        {{!-- <input type="hidden" id="productId" value=""/> --}}
        <input type='file' name='image' id='image' />
        <button id="submit" type="submit">submit</button>
    </form>
</div>