<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">

          <h3 class="card-title">Register or Login</h3>
          <p>
            <label for="Username">Username</label>
            {{!-- ***id needs to be changed --}}
            <input type="text" id="item" required="required">
          <p>
          <p>
            <label for="Password">Password</label>
            {{!-- ***id needs to be changed --}}
            <input type="text" id="item" required="required">
          <p>
            {{!-- ***I don't think we need line 19 and 20 --}}
            {{!-- <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a> --}}
        </div>
      </div>
    </div>
  </div>
</div>
