<div class="container" id="top-bar">
            <h1>Barter Buddy</h1>
          </div>
          
          <!-- Navigation bar-->
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="upload">Upload Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="market">Market</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="index" >Login</a>
  </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">My list</h3>
                    <ul>
                        {{#each Upload}}
                        <li>
                            <b>{{this.product_name}} </b> <br>
                            {{this.description}} <br>
                            <img src={{this.Image.url}} id="img" />
                            <br>
                             <form action="/api/availability/{{id}}" method="POST">
                                <button class="btn btn-danger float-right tradeWith">confirm</button>
                            </form>
                            </form>
                            <br><br>
                            <hr>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
