 <!-- Navigation bar-->
    <nav class="fullwidth">
        <div class="mainwidth logoback">
        <h2>Barter APP</h2>
        </div>
        <!-- Please comment in the names-->
        <ul class="navitems mainwidth">
            <li style="margin: 0 10px 0 10px"><a href="about.html">About</a></li>
            <li style="margin: 0 10px 0 10px">|</li>
            <li style="margin: 0 10px 0 10px"><a href="intro">Items Wanted</a></li>
            <li style="margin: 0 10px 0 10px">|</li>
            <li style="margin: 0 10px 0 10px"><a href="market">Market</a></li>
            <li style="margin: 0 10px 0 10px">|</li>
            <li style="margin: 0 10px 0 10px"><a href="contact.html">Contact</a></li>
            <li style="margin: 0 10px 0 10px">|</li>  
        </ul>
    </nav>




<!-- Profile Information -->
<div class="container" id="top-bar">
    <h1>User Profile</h1>


</div>

    <!-- user item uploading information --> 
    <h2>Upload Item OR Service</h2>

    <form id="item-wanted-information">
        <ul>
          <li>
            <label for="item">Product name</label>
            <input type="text" id="item" required="required">
          </li>
          <li>
            <label for="photo">Upload photo</label>
            <input type="file" class="file-select" accept="image/*" onchange="readURL(this);">
            <img id="pic" src="#">
          </li>
          <li>
            <label for="message">Description</label>
            <textarea id="message" name="message" required="required"></textarea>
          </li>
        </ul>
        <input type="submit">
    </form>

    <!-- List of already uploaded products by this user -->
<div class="uploaded">
    <div class="row">
        <div class="col-md-4">
            <h2>Items already uploaded by the user previously</h2>
                <!-- image/reveal section -->
               <img id="myImage" src="">
               <div id="results">
                <a href="" id="result"></a>
                <a href="" id="result2"></a>
                <a href="" id="result3"></a>
                <a href="" id="result4"></a>
               </div>

                {{#each Uploads}}
                {{#unless this.uploaded}}
                    <input class="form-control" type="text" placeholder="{{ this.id }}. {{ this.item_name }}" readonly>
                {{/unless}}
                {{/each}}

                <div class="col-md-4">
                 {{#each Uploads}}
                 {{#unless this.uploaded}}
                    <form method="POST" action="/items/update?_method=PUT" class="button-size">
                    <input type="hidden" name="item_id" type="text" value={{ this.id }}>
                    <br>
                    </form>
                    {{/unless}}
                    {{/each}}
              </div>    
        </div>  
    </div>
</div> 

{{!-- <form class="create-form" action="/api/upload" method="POST">
    <div class="form-group">
        <label for="ca">Product name:</label>
        <input type="text" id="product_name" name="product_name">
    </div>
    <div class="form-group">
        <label for="ca">Description:</label>
        <input type="text" id="description" name="description">
    </div>

    <button id="addImage" type="submit">Add Image</button>
</form>

<form id="fileForm" action='/api/images' method="post" enctype="multipart/form-data">
    <input type='file' name='image' id='image' />
        <button id="submit" type="submit">submit</button> 
</form>
 



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/uploadProduct.js"></script> --}}