{{!-- <form class="create-form" action="/api/upload" method="POST">
    <div class="form-group">
        <label for="ca">Product name:</label>
        <input type="text" id="product_name" name="product_name">
    </div>
    <div class="form-group">
        <label for="ca">Description:</label>
        <input type="text" id="description" name="description">
    </div>
  
    <button type="submit" id="submitForm">submit</button>
</form>

<div class="form-group">
    <form id="fileForm" action='/api/images' method="post" enctype="multipart/form-data">
        <input type="hidden" name="productId" value=""/>
        <input type='file' name='image' id='image' />
        <button id="submit" type="submit">submit</button>
    </form>
</div> --}}

<form class="create-form" action="/api/upload" method="POST">
    <div class="form-group">
        <label for="ca">Product name:</label>
        <input type="text" id="product_name" name="product_name">
    </div>
    <div class="form-group">
        <label for="ca">Description:</label>
        <input type="text" id="description" name="description">
    </div>

    <button id="addImage" type="submit">Add Image</button>
</form>

<form id="fileForm" action='/api/images' method="post" enctype="multipart/form-data">
    <input type='file' name='image' id='image' />
        <button id="submit" type="submit">submit</button> 
</form>
 



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/uploadProduct.js"></script>