<!-- Profile Information -->
<div class="container" id="top-bar">
    <h1>User Profile</h1>


</div>

<!-- user item uploading information -->
<h2>Upload Item </h2>

<form class="create-form" action="/api/upload" method="POST">
    <div class="form-group">
        <label for="ca">Product name:</label>
        <input type="text" id="product_name" name="product_name">
    </div>
    <div class="form-group">
        <label for="ca">Description:</label>
        <input type="text" id="description" name="description">
    </div>

    <button id="addImage" type="submit">Add Image</button>
</form>

<form id="fileForm" action='/api/images' method="post" enctype="multipart/form-data">
    <input type='file' name='image' id='image' />
    <button id="submit" type="submit">submit</button>
</form>

<!-- List of already uploaded products by this user -->
<div class="uploaded">
    <div class="row">
        <div class="col-md-4">
            <h2>Items already uploaded by the user previously</h2>
            {{#each Upload}}
            {{!-- if userId --}}
            <li>
                <b>{{this.product_name}} </b> <br>
                {{this.description}} <br>
                <img src={{this.Image.url}} id="img" />
                <br>
                {{#if requested}}
                {{!-- <form action="api/trade/{{id}}" method="POST"> --}}
                <button class="btn btn-danger float-right trade">requested</button>
                {{!-- </form> --}}
                <br><br>
                <hr>
                {{/if}}
            </li>

            {{/each}}
            <!-- image/reveal section -->
        </div>
    </div>
</div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/uploadProduct.js"></script>