/* GLOBAL SETTINGS */
/* ==================================================== */

body {
  margin-top: 10%;
  background: url("../images/trade.jpg");
  background-repeat: no-repeat;
  background-size: 180%;

    /* width: 100%; */
    /* height: 100%; */
    /* overflow: auto; */
    /* font-family: 'Ubuntu', sans-serif; */
}


p{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

section{
  border: 1px solid #ffffff;
  background-color: #eff3bd;
  padding: 10px 30px 20px 30px;
  color: #777777;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  padding: 10px 0px 25px 0px;
}


header {
  margin-left:15%;
  float: left;      
  top:0;
  padding: 2%;
  font-size:25px;  
}


input{
  width: 99%;
  padding: 5px 5px 5px 5px;
  margin-right: 25px;
  color: #777777;
}

button{
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 2px;
  font-size: 16px;
}


.container {
  background:white;
  width: 100%;
  max-width: 960px;
  height:500px;
  overflow: scroll;
  padding:2%;
  /* margin: 0 auto; */
  /* clear: both; */
}

.uploaded {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}
/* navbar */
.navbar{
  background:rgb(255, 255, 255, 0.8);
  padding-left: 5%;
  padding-right:5%;
}
.navbar-brand{
  color:#43a9a4;
  font-weight: bold; 
  font-size:30px;
  margin-top:0%;
  padding-top:0%;
  padding-bottom:0%;
}
.nav-link{
  color:#43a9a4;
  font-size:20px;
  padding-top:0%;
  padding-bottom:0%;
}
.nav-link:hover {
  color:#17716c;
}

/* index */
 .jumbotron{
  background:white;
  padding:2%;
 }
 .intro{
   font-size: 80px;
 }
 #signUpButtonNav, #signInButtonNav, #signInButton, #signUpButton, #addImage, #submit{
  background:#4aaaa5; 
  color: white;
  border: none;
}
#signUpButtonNav:hover, #signInButtonNav:hover{
  opacity:0.75
}

/* about */
#about p {
  font-size: 25px
}

/* market */
.market{
  color:#4aaaa5;
  border-bottom: 2px solid rgb(177, 177, 177);
  padding-bottom:5px;
  font-size:30px;
  padding-top:0;
}
.card-body{
  padding-top:1%;
}

/* upload */
.upload{
  border: solid 2px #4aaaa5;
  /* display:inline; */
  float:right;
  padding:2.5%;
}
.profile{
  /* background:white;
  /* width:800px;
  height:500px;
  margin-left: 20%; */
  /* height:500px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both; */ 
float:left;
padding-top:1%;
}
#uploaded, #upload{
  color:#4aaaa5;
  border-bottom: 2px solid rgb(177, 177, 177);
  padding-bottom:5px;
  font-size:30px;
}
#addImage, #submit{
  border-radius:5px;
  padding:3%;
}


/* adjustment when viewed from computer */
@media screen and (max-width: 980px) {
  body {
      margin-left: 3%;
  }
  section{
      margin-top: 15%;
 
  }
  header {
      margin-left:3%;
  }
  

/* adjustment when viewed from ipad */ 
@media screen and (max-width: 768px) {
  body {
      margin-left: 1.5%;
      margin-right:1.5%;
  }
 
  .topnav {
      margin-bottom:0%;
  }
  header {
      margin-left:1.5%;
  }
  #lastnav {
      margin-right:1.5%;
}
  .container {
  padding-top: 90px;

}
}
/* adjustment when viewed from the phone */
@media screen and (max-width: 640px) {
.topnav {
  position: static;
  width:100%;
}
.wrapper {
  width:640px;
}
.topnav{
  display:inline-block;
  width:100%;
  padding-bottom: 3%;
 margin:0%; 
}
header{
  display:inline-block;
  text-align: center;
  width:100%;
  margin-left:-0.3%;
  margin-bottom:2%;
  padding-right:3%;
  padding-top:5%;
  padding-bottom:5%;
  margin-top:-2%;
}
.topnav a{
  padding-left:5%;
  padding-right:6%;
  text-align: center;

}
#lastnav{
  margin-right:10%;
}
section{
    margin:-5% 1% 3% 1%;

}
.work {
    width:100%;

}
.container {
  padding-top: 40px;

}
}