/* GLOBAL SETTINGS */
/* ==================================================== */
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='hsl(177, 39%, 48%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color:hsl(177, 39%, 48%);
}
#logout{
  border:none;
  background:none;
  padding:none;
}
body {
  margin-top: 10%;
  background: url("../images/trade.jpg");
  background-repeat: no-repeat;
  background-size: 180%;
}
h1{
  color: #4aaaa5;
  border-bottom: 2px solid #cccccc;
  padding: 10px 0px 25px 0px;
}
img{
  width: 300px;
  height:300px;

}
.container {
  background:white;
  width: 100%;
  max-width: 960px;
  height:500px;
  overflow: scroll;
  padding:2%;
}
#contactAlert{
  color: red;
}

/* navbar */
.navbar{
  background:rgb(255, 255, 255, 0.8);
  padding-left: 5%;
  padding-right:5%;
}
.navbar-brand{
  color:#43a9a4;
  font-weight: bold; 
  font-size:30px;
  margin-top:0%;
  padding-top:0%;
  padding-bottom:0%;
}
.nav-link{
  color:#43a9a4;
  font-size:20px;
  padding-top:0%;
  padding-bottom:0%;
}
.nav-link:hover {
  color:#17716c;
}

/* index */
 .jumbotron{
  background:white;
  padding:2%;
  /* width:60% */
 }
 .intro{
   font-size: 80px;
 }
 #signUpButtonNav, #signInButtonNav, #signInButton, #signUpButton, #addImage, #submit{
  background:#4aaaa5; 
  color: white;
  border: none;
}
#signUpButtonNav:hover, #signInButtonNav:hover{
  opacity:0.75
}

/* about */
#about p {
  font-size: 25px
}

/* market */
.market{
  color:#4aaaa5;
  border-bottom: 2px solid rgb(177, 177, 177);
  padding-bottom:5px;
  font-size:30px;
  padding-top:0;
}
.card-body{
  padding-top:1%;
}

/* upload */
.upload{
  border: solid 2px #4aaaa5;
  float:right;
  padding:2.5%;
  display:inline;
  width: 30%;
  height:auto;
}
.profile{ 
  float:left;
  padding-top:1%;
  display:inline;
  width:60%;
  margin-left:2%;
  margin-right:2%;
  margin-top:1.7%;
}
#uploaded, #upload{
  color:#4aaaa5;
  border-bottom: 2px solid rgb(177, 177, 177);
  padding-bottom:5px;
  font-size:30px;
}
#addImage, #submit{
  border-radius:5px;
  padding:3%;
}
input{
  width: 99%;
  padding: 5px 5px 5px 5px;
  margin-right: 25px;
  color: #777777;
}

/* adjustment when viewed from each computer, ipad, phones, etc */
@media screen and (max-width: 1100px) {
  body {
    /* margin-left: 1.5%;
    margin-right:1.5%; */
    background-size: 770%;
  }
  .container{
    height:1000px
  }
  img{
    margin-bottom:10%;
  }
}

@media screen and (max-width: 812px) {
  body {
      background-size: 750%;
  } 
  .topnav {
      margin-bottom:0%;
  }
  header {
      margin-left:1.5%;
  }
  #lastnav {
      margin-right:1.5%;
  }
  .container {
    margin-top:15%;
  height:800px;
  width: 700px
  }
}

@media screen and (max-width: 640px) {
  .jumbotron{
    height:100px
  }
  .intro{
    font-size: 35px;
  }
  #signUpButtonNav, #signInButtonNav, #signInButton, #signUpButton, #addImage, #submit{
    font-size:15px;
  }
  body{
    background-size: 700%;
  }
  .container{
    margin-top: 30%;
    padding-top:2%;
    margin-left:0%;
    margin-right:5%;
    width:95%;
    margin-bottom:5%;
    height:500px;
  }
  img{
    width:200px;
    height: 200px;
    margin-bottom:5%;
  }
  .nav-item {
    margin-right:2%;
  }
  h2{
    font-size:15px;
  }
  .upload{
    border: solid 2px #4aaaa5;
    float:right;
    margin-left:5%;
    padding:5%;
    width: 90%;
  }
  .profile{ 
    display:block;
    width:100%;
    padding: 5%;
  }
}

@media screen and (max-width: 568px) {
  .container{
    height:450px;
  }
}
@media screen and (max-width: 500px) {
  .container{
    margin-left:2.5%;
  }
}
@media screen and (max-width: 414px) {
  .container{
    height:530px;
    margin-left:2.5%;
  }
}

@media screen and (max-width: 375px) {
  body{
    background-size:800%
  }
  .container{
    height:520px;
    margin-left: 2.5%;
  }
}
  
@media screen and (max-width: 320px) {
  .container{
    height:450px;
  }
}
